<h1><%= @playground.name %></h1>

<p>住所: <%= @playground.address %></p>
<p>Google Map: <%= @playground.google_maps_link %></p>
<p>駐車場あり: <%= @playground.parking_area ? "あり" : "なし" %></p>

<%= link_to "編集", edit_playground_path(@playground) %> |
<%= link_to "一覧へ戻る", playgrounds_path %>
